<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>患者信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* 添加高亮样式 */
       .suggestions li.highlight {
            background-color: #d349a9;
        }
    </style>
</head>

<body>
    <h1>患者信息</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('new_prescription') }}">新建药方</a></li>
            <li><a href="{{ url_for('view_prescription') }}">查看药方</a></li>
            <li><a href="{{ url_for('manage_herbs') }}">管理药材</a></li>
            <li><a href="{{ url_for('manage_formulas') }}">管理方剂</a></li>
        </ul>
    </nav>
        <div class="patient-info">
            <label for="patient_phone">患者手机:</label>
            <input type="text" id="patient_phone" name="patient_phone" >
            <input type="text" class="patient_phone" placeholder="输入" oninput="autocompletePhone(this)"
                onkeydown="handleKeyDown(event, this)">
            <ul class="suggestions"></ul>
            <label for="patient_name">患者姓名:</label>
            <input type="text" id="patient_name" name="patient_name" >
            <label for="patient_gender">性别:</label>
            <input type="text" id="patient_gender" name="patient_gender" >
            <label for="patient_year">出生年份:</label>
            <input type="text" id="patient_year" name="patient_year" >
            <br>
            <button class="edit-button" id="sendTableData">保存药方</button>
        </div>

    <script>
        const infos = {{ infos|tojson }};
        let highlightedIndex = 0; // 记录当前高亮的候选项索引

        function autocompletePhone(input) {
            const value = input.value;
            const suggestions = input.nextElementSibling;
            suggestions.innerHTML = '';
            highlightedIndex = 0; // 重置高亮索引

            if (value.length > 0) {
                for (const key in infos) {
                    if (key.startsWith(value)) {
                        const li = document.createElement('li');
                        li.textContent = key;
                        li.addEventListener('click', function () {
                            input.value = this.textContent;
                            const row = input.parentNode.parentNode;
                            const nameInput = row.querySelector('.patient_name');
                            const genderInput = row.querySelector('.patient_gender');
                            const yearInput = row.querySelector('.patient_year');
                            nameInput.value = infos[key].name
                            genderInput.value = infos[key].gender
                            yearInput.value = infos[key].year
                            suggestions.innerHTML = '';
                            // calculateTotal(row);
                            // 选择药材后自动聚焦到重量输入框
                            // row.querySelector('.herb-weight').focus();
                            // calculateGrandTotal();
                        });
                        suggestions.appendChild(li);
                    }
                }
                if (suggestions.firstChild) {
                    suggestions.firstChild.classList.add('highlight'); // 默认高亮第一个候选项
                }
            }
        }

        function handleKeyDown(event, input) {
            const suggestions = input.nextElementSibling;
            const suggestionItems = suggestions.getElementsByTagName('li');

            if (event.key === 'ArrowDown') {
                event.preventDefault(); // 阻止默认的页面滚动
                if (suggestionItems.length > 0) {
                    suggestionItems[highlightedIndex].classList.remove('highlight');
                    highlightedIndex = (highlightedIndex + 1) % suggestionItems.length;
                    suggestionItems[highlightedIndex].classList.add('highlight');
                }
            } else if (event.key === 'ArrowUp') {
                event.preventDefault(); // 阻止默认的页面滚动
                if (suggestionItems.length > 0) {
                    suggestionItems[highlightedIndex].classList.remove('highlight');
                    highlightedIndex = (highlightedIndex - 1 + suggestionItems.length) % suggestionItems.length;
                    suggestionItems[highlightedIndex].classList.add('highlight');
                }
            } else if (event.key === 'Enter') {
                const highlightedItem = suggestionItems[highlightedIndex];
                if (highlightedItem) {
                    input.value = highlightedItem.textContent;
                    const row = input.parentNode.parentNode;
                    const key = input.value;
                    const nameInput = row.querySelector('.patient_name');
                    const genderInput = row.querySelector('.patient_gender');
                    const yearInput = row.querySelector('.patient_year');
                    nameInput.value = infos[key].name
                    genderInput.value = infos[key].gender
                    yearInput.value = infos[key].year
                    suggestions.innerHTML = '';
                }
            }
        }

        // 添加点击事件监听器，用于发送表格数据
        document.getElementById('sendTableData').addEventListener('click', function () {
            const table = document.getElementById('prescription-table');
            const rows = table.tBodies[0].rows;
            const tableData = [];
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const nameInput = row.querySelector('.herb-name');
                const weightInput = row.querySelector('.herb-weight');
                const priceInput = row.querySelector('.herb-price');
                const totalInput = row.querySelector('.herb-total');
                const rowData = {
                    herbName: nameInput.value,
                    weight: weightInput.value,
                    price: priceInput.value,
                    total: totalInput.value
                };
                tableData.push(rowData);
            }
            patient_info = {
                patient_name: document.getElementById('patient_name').value,
                patient_gender: document.getElementById('patient_gender').value,
                patient_age: document.getElementById('patient_age').value,
                prescription_date: document.getElementById('prescription_date').value,
                taking_days: document.getElementById('prescription_pay_count').value,
                daily_dose: document.getElementById('prescription_dose_count').value,
            }
            const dateToSend = {
                tableData: tableData,
                total_price: document.getElementById('grand-total').value,
                patient_info: patient_info
            };
            // 使用 fetch API 发送数据
            fetch('/send_prescription_table', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dateToSend)
            })
           .then(response => response.json())
           .then(data => {
                console.log('服务器响应:', data);
                alert('保存成功')
            })
           .catch(error => {
                console.error('请求出错:', error);
            });
        });
    </script>
</body>

</html>